<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<style>
    p {
        width: auto;
        height: 400px;
        overflow: scroll;
    }
</style>

<body>
    <hgroup>
        <h1>Brainwave authentication <br>using visual stimulus</h1>
        <h3>By Mahidol wittayanusorn school</h3>
    </hgroup>
    <form>
        <p style="font-family: 'Roboto', sans-serif;padding: 40px 10px 10px 10px;">
            &emsp; Biometric authentication methods that have been used nowadays still have
numerous potential security issues. Therefore, we investigate an authentication method
using brainwave instead since brainwave is unique for each individual and it is difficult to be
mimicked. In addition, we invent a software that uses brainwave as authentication method.
Brainwave is applied to an innovation in various fields. The brainwave signals we observed is
large-scale oscillations which can be measured by electroencephalography (EEG). In order to
obtain brainwave signals, we use Visual Evoked Potentials (VEP) to stimulate the occipital
lobe that controls visibility of human. People responds to the stimuli differently and has
different brainwave signals, so it shows that the authentication method using brainwave can
be used to authenticate identity of person. This authentication method has high level of
security and it is difficult to be physically imitated. The software can also analyze the proper
visual stimulator for each individual user. Software enhancement can significantly increase
the accuracy when increasing the amount of data in database. In the experiment, we firstly
collected EEG data which are stimulated by VEP using set of 260 Snodgrass-Vanderwart
pictures and Checkerboard pattern. Afterward, we extract feature of EEG data and compute
in user authentication using deep learning algorithm. In conclusion, the results show that our
authentication method using brainwave demonstrates in achieving high verification accuracy
and can be applied with some improvement in the future.
        </p>

        <a href="/">
            <button type="button" class="button buttonBlue">Go back
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
            </a>
    </form>
</body>


</html>
