{% extends "base.html" %}

{% block styles %}
{% endblock %}


{% block content %}

<section class="container">
    <div class="row">
        <div class="col">
            <h3>
                Device error
            </h3>
            <h4>
                EEG device not found
            </h4>
            <p>
                You may want to head back to the homepage. If you think something is broken, report a problem.
            </p>
            <button class="btn btn-primary"><span class="fas fa-home"></span></button>
            <button class="btn btn-warning">
                <span class="fa fa-warning"></span>
                Report A Problem
            </button>
        </div>
    </div>
</section>

{% endblock %}