<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://teerapaths.ddns.net:6010/');
        socket.on('connect', function(){
            $.getJSON('http://127.0.0.1:9000/dataimprove', function(data) {
                socket.emit('improve', data);
                console.log("Data sent!");
                setTimeout(function() {
                    window.location = window.location.href.replace(window.location.href, '/login-complete/');
                }, 3000);
            });
        });

    </script>

</head>

<body>
    <hgroup>
        <h1>Brainwave authentication <br>using visual stimulus</h1>
        <h3>By Mahidol wittayanusorn school</h3>
    </hgroup>
    <form>
        <center>
            <h4>Sending improve data...</h4>
        </center>
    </form>
</body>

</html>
