{% extends "base.html" %}

{% block styles %}
{% endblock %}


{% block content %}

<!-- Modal -->
<div class="modal fade" id="about" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About this project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Biometric authentication methods that have been used nowadays still have
                numerous potential security issues. Therefore, we investigate an authentication method
                using brainwave instead since brainwave is unique for each individual and it is difficult to be
                mimicked. In addition, we invent a software that uses brainwave as authentication method.
                Brainwave is applied to an innovation in various fields. The brainwave signals we observed is
                large-scale oscillations which can be measured by electroencephalography (EEG). In order to
                obtain brainwave signals, we use Visual Evoked Potentials (VEP) to stimulate the occipital
                lobe that controls visibility of human. People responds to the stimuli differently and has
                different brainwave signals, so it shows that the authentication method using brainwave can
                be used to authenticate identity of person. This authentication method has high level of
                security and it is difficult to be physically imitated. The software can also analyze the proper
                visual stimulator for each individual user. Software enhancement can significantly increase
                the accuracy when increasing the amount of data in database. In the experiment, we firstly
                collected EEG data which are stimulated by VEP using set of 260 Snodgrass-Vanderwart
                pictures and Checkerboard pattern. Afterward, we extract feature of EEG data and compute
                in user authentication using deep learning algorithm. In conclusion, the results show that our
                authentication method using brainwave demonstrates in achieving high verification accuracy
                and can be applied with some improvement in the future.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="container p-2">
    <div class="card text-center">
        <h3 class="card-title">
            Brainwave authentication using visual stimulus
        </h3>
        <h5 class="card-title">
            By Mahidol Wittayanusorn School
        </h5>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                <i class="fas fa-brain"></i>
                <h5>Please sign in</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="far fa-user-circle"></i>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="@UserName" required>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
        <div class="card-footer">
            <p type="button" class="text-muted" data-bs-toggle="modal" data-bs-target="#about">
                About this project
            </p>
        </div>
    </div>
</section>

{% endblock %}