{% extends "base.html" %}

{% block styles %}

<style>
</style>
{% endblock %}

{% block content %}

<section class="container">
    <div class="col">
        <div class="row">
            <h1 class="display-4">Instructions</h1>
        </div>

        <div class="row">
            <div class="card row">
                <div class="card-body shadow">
                    <h5 class="card-title">Eye rest</h5>
                    <p class="card-text">Description</p>

                    <div class="d-flex justify-content-center">

                        <!-- Carousel pages -->
                        <div id="slider" class="carousel carousel-dark" data-interval="false" data-bs-keyboard="true">
            
                            <!-- Pages Content -->
                            <div class="carousel-inner" role="listbox">
                                {% for image in images %}
                                <div class="carousel-item{% if loop.first %} active{% endif %} text-center">
                                    <img src="{{ url_for('display', filename=image) }}" alt="...">
                                </div>
                                {% endfor %}
                            </div>
            
                            <!-- Control Button -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev"
                                onclick="$('#slider').carousel('prev')">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next"
                                onclick="$('#slider').carousel('next')">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}