<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

</head>

<body>
    <hgroup>
        <h1>Brainwave authentication <br>using visual stimulus</h1>
        <h3>By Mahidol wittayanusorn school</h3>
    </hgroup>
    <form>
        <center>
            <h4>Login failed</h4>
        </center>
        <a href="/">
            <button type="button" class="button buttonBlue">Go to first page</button>
            </a>

    </form>
</body>



</html>
