<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<style>
    p {
        color: #636363;
    }
</style>

<body>
    <hgroup>
        <h1>Brainwave authentication <br>using visual stimulus</h1>
        <h3>By Mahidol wittayanusorn school</h3>
    </hgroup>
    <form>
        <center>
            <h4>Please wait for evaluation...</h4>
            <div id="warning">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
            </div>
        </center>

    </form>
</body>

<script>
    setTimeout(function(){
        window.location = window.location.href.replace(window.location.href, '/signup-stimulus/')
    }, 3000);
</script>

</html>
